input[type=number]{
  display: inline;
  height: 20px;
  width: 50px;
  background-color: #dbc99d;
  border: none;
  margin: 1em 10px 10px 10px;
  border-radius: 15%;
  align-items: center;
}

.goldPic{
  height: 50px;
  width: 50px;
  float: left;
}

.MoneyForm{
  margin-left: 2em;
}
