 .points p{
  border-right: black solid 1px;
  display: inline;
  padding: 0 10px 0 10px;
}

.exp p{
  border: none;
}

.PointsForm input[type=number]{
  display: inline;
  height: 20px;
  width: 20px;
}

.end input[type=number]{
  display: inline;
  height: 20px;
  width: 75px;
}
