.react-tabs__tab-list li{
  text-align: center;
  list-style: none;
  display: inline;
  padding: 0 10px 0 10px;
  border-right: black solid 1px;
}

#react-tabs-6{
  text-align: center;
  list-style: none;
  display: inline;
  padding: 0 10px 0 10px;
  border-right: none;
}

.react-tabs__tab-list{
  padding-top: 12px;
}
