body {
  background: #efeee6;
  color: black;
}

.icons {
  list-style: none;
  display: inline;
  flex-direction: row;
  float: right;
  margin-top: auto;
  border: none;
  vertical-align: top;
}

.col{
  padding-top: 2px;
}
