body {
  background-image: url("images/paper.png");

}

.icons {
  list-style: none;
  display: inline;
  flex-direction: row;
  float: right;
  margin-top: auto;
  border: none;
  vertical-align: top;
}
